# typescript code
/lib/
# lockfile
yarn.lock
# code coverage
/coverage/
/.nyc_output
# documentation
CONTRIBUTING.md
.github/PULL_REQUEST_TEMPLATE.md
# test files
test.db
/test
# code formatting
.editorconfig
# configurations
tsconfig.json
tslint.json
*.yml
dist/test/*
